alias q='exit'
alias goog='ping 8.8.8.8'
alias u='sudo apt update -y'
alias uu='sudo apt update -y && sudo apt upgrade -y'
alias i='sudo apt install'
alias hgrep='history | grep'
alias ipa='ip -br a'
alias lgrep='ls -la | grep'
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'
alias scan='nmap -sC -sV -Pn'
