alias q='exit'
alias goog='ping 8.8.8.8'
alias u='sudo apt update -y'
alias uu='sudo apt update -y && sudo apt upgrade -y'
alias i='sudo apt install'
alias hgrep='history | grep'
alias rdp='xfreerdp +clipboard /dynamic-resolution /drive:/home/gr3yspace/PEN200'
alias ipa='ip -br a'
alias lgrep='ls -la | grep'
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'
alias scan='nmap -sC -sV -Pn'
alias scan-all='nmap -sC -sV -Pn -p-'
alias scan-vuln='nmap -Pn -sV --script vulners'
alias docker-spin='docker run -it ubuntu:20.04'
alias tmux-connect='tmux a -t'
